---
import { Image } from 'astro:assets';

import type { Content as Props } from '~/types';
import Headline from '../ui/Headline.astro';
import WidgetWrapper from '../ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import ItemGrid from '../ui/ItemGrid.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  callToAction,
  items = [],
  columns,
  image = await Astro.slots.render('image'),
  imageDark = await Astro.slots.render('imageDark'),
  isReversed = false,
  isAfterContent = false,

  id,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  containerClass={`max-w-7xl mx-auto ${isAfterContent ? 'pt-0 md:pt-0 lg:pt-0' : ''} ${classes?.container ?? ''}`}
  bg={bg}
>
  <Headline
    title={title}
    subtitle={subtitle}
    tagline={tagline}
    classes={{
      container: 'max-w-xl sm:mx-auto lg:max-w-2xl',
      title: 'text-4xl md:text-5xl font-bold tracking-tighter mb-4 font-heading',
      subtitle: 'max-w-3xl mx-auto sm:text-center text-xl text-muted',
    }}
  />
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : ''} md:gap-16`}>
      <div class="md:basis-1/2 self-center">
        {content && <div class="mb-12 text-lg" set:html={content} />}

        {
          callToAction && (
            <div class="mt-[-40px] mb-8 text-primary">
              <Button variant="link" {...callToAction} />
            </div>
          )
        }

        <ItemGrid
          items={items}
          columns={columns}
          defaultIcon="tabler:check"
          classes={{
            container: `gap-y-4 md:gap-y-8`,
            panel: 'max-w-none',
            title: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
            description: 'text-muted ml-2 rtl:ml-0 rtl:mr-2',
            icon: 'flex size-7 items-center justify-center rounded-full p-1 text-primary bg-inherit dark:bg-inherit border-2 border-primary',
            action: 'text-lg font-medium leading-6 dark:text-white ml-2 rtl:ml-0 rtl:mr-2',
          }}
        />
      </div>
      <div aria-hidden="true" class="flex items-center mt-10 md:mt-0 md:basis-1/2">
        {
          image && (
            <div class:list={['relative', 'm-auto', 'max-w-4xl', imageDark ? 'dark:hidden' : '']}>
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image class="mx-auto w-full" layout="full-width" {...image} />
              )}
            </div>
          )
        }
        {
          imageDark && (
            <div class:list={['relative', 'm-auto', 'max-w-4xl', 'hidden', 'dark:block']}>
              {typeof imageDark === 'string' ? (
                <Fragment set:html={imageDark} />
              ) : (
                <Image class="mx-auto w-full" layout="full-width" {...imageDark} />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</WidgetWrapper>
