---
interface Props {
  words: string[];
  duration: number;
}

const { words, duration } = Astro.props;

const id = Math.random().toString(36).substring(7);

const wordsStyle = `
  .words_${id} > p {
    animation: rotateWordsSecond_${id} ${words.length * duration}s linear infinite 0s;
  }

  @keyframes rotateWordsSecond_${id} {
    0% { opacity: 1; width: 0; }
    ${35 / words.length}% { opacity: 1; width: 100%; }
    ${90 / words.length}% { opacity: 1; width: 100%; }
    ${100 / words.length}% { opacity: 1; width: 0; }
  }
`;

const delayStyleClasses = words
  .map(
    (_, index) => `
  .words_${id} > p:nth-of-type(${index + 1}) { animation-delay: ${duration * index}s; }
`,
  )
  .join('');

const allStyles = wordsStyle + delayStyleClasses;
---

<style set:html={allStyles}></style>

&hairsp;

<div
  class={`absolute inline-grid grid-cols-[minmax(max-content,1fr)] grid-rows-[1fr] w-max h-full whitespace-nowrap words_${id}`}
>
  <div class="invisible pointer-events-none row-start-1" aria-hidden="true">
    {words.map((word) => <span class="block w-max absolute left-0">{word}</span>)}
  </div>
  {words.map((word) => <p class="row-start-1 overflow-hidden w-0 opacity-0">{word}</p>)}
</div>
