---
import Layout from '~/layouts/PageLayout.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import heroImageLight from '~/assets/images/secrets-hero-light.png';
import heroImageDark from '~/assets/images/secrets-hero-dark.png';
import discoveryImageLight from '~/assets/images/secrets-discovery-light.png';
import discoveryImageDark from '~/assets/images/secrets-discovery-dark.png';
import hardcodedImageLight from '~/assets/images/secrets-hardcoded-light.png';
import hardcodedImageDark from '~/assets/images/secrets-hardcoded-dark.png';
import environmentsImageLight from '~/assets/images/secrets-environments-light.png';
import environmentsImageDark from '~/assets/images/secrets-environments-dark.png';

const metadata = { title: 'Secrets Discovery' };
---

<Layout metadata={metadata}>
  <Hero2
    title="Finally, Full Observability for Secrets"
    subtitle="Rotate keys safely, refactor workloads quickly, and prevent data spills."
    image={{
      src: heroImageLight,
      alt: 'Screenshot of Archodex Dashboard showing various workloads and secrets',
      fetchpriority: 'high',
    }}
    imageDark={{
      src: heroImageDark,
      alt: 'Screenshot of Archodex Dashboard showing various workloads and secrets',
      fetchpriority: 'high',
    }}
    actions={[
      { variant: 'primary', text: 'Get Started', href: `https://app.${import.meta.env.PUBLIC_ARCHODEX_DOMAIN}/signup` },
    ]}
  />

  <Content
    title="Track your Secrets"
    subtitle="Full visibility across source code, vaults, and workloads at runtime."
    isReversed
    image={{
      src: discoveryImageLight,
      alt: 'Screenshot of Archodex Dashboard highlighting an API Key and the workloads using it',
    }}
    imageDark={{
      src: discoveryImageDark,
      alt: 'Screenshot of Archodex Dashboard highlighting an API Key and the workloads using it',
    }}
    items={[
      {
        title: 'Inventory Secrets in Vaults and Secret Stores',
        description:
          'Archodex integrates with popular secret management systems to fingerprint your stored secrets, ensuring you have a comprehensive view of your sensitive data.',
        icon: 'tabler:cloud-lock',
      },
      {
        title: 'Observe Secrets at Runtime',
        description:
          'The Archodex Agent monitors your workloads in real-time, capturing API calls and secret usage patterns to ensure compliance and security.',
        icon: 'tabler:transfer',
      },
    ]}
    callToAction={{
      variant: 'secondary',
      text: 'Explore in Playground',
      href: `https://play.${import.meta.env.PUBLIC_ARCHODEX_DOMAIN}`,
    }}
  />

  <Content
    title="Rotate Keys Safely"
    subtitle="Rotate with confidence knowing exactly which workloads use the same secret from which locations."
    image={{
      src: hardcodedImageLight,
      alt: 'Screenshot of Archodex Dashboard highlighting an API Key stored in a vault and hardcoded in a source file',
    }}
    imageDark={{
      src: hardcodedImageDark,
      alt: 'Screenshot of Archodex Dashboard highlighting an API Key stored in a vault and hardcoded in a source file',
    }}
    items={[
      {
        title: 'Integrate your Existing Secret Scanners',
        description:
          "Archodex combines data from multiple sources, like GitHub's Secret Scanner, to provide a comprehensive view of your secrets.",
        icon: 'tabler:arrow-merge-both',
      },
      {
        title: 'Prevent Outages',
        description:
          "Outages occur when secrets are rotated in some stores and workloads but not others. Archodex ensures this won't happen to you.",
        icon: 'tabler:flame-off',
      },
    ]}
    callToAction={{
      variant: 'secondary',
      text: 'Explore in Playground',
      href: `https://play.${import.meta.env.PUBLIC_ARCHODEX_DOMAIN}`,
    }}
  />

  <Content
    title="Prevent Data Spills"
    subtitle="Detect mixing of data and services between production, staging, and QA."
    isReversed
    image={{
      src: environmentsImageLight,
      alt: 'Screenshot of Archodex Dashboard highlighting a production API Key used by a QA workload',
    }}
    imageDark={{
      src: environmentsImageDark,
      alt: 'Screenshot of Archodex Dashboard highlighting a production API Key used by a QA workload',
    }}
    items={[
      {
        title: 'Hierarchical Environment Tagging',
        description: "Easily tag secrets and workloads to their environments using Archodex's graph database model.",
        icon: 'tabler:tags',
      },
      {
        title: 'Prevent Data Spills',
        description:
          'Detect when test workloads have access to production secrets which may lead to sending test data to customers or worse.',
        icon: 'tabler:route-alt-right',
      },
    ]}
    callToAction={{
      variant: 'secondary',
      text: 'Explore in Playground',
      href: `https://play.${import.meta.env.PUBLIC_ARCHODEX_DOMAIN}`,
    }}
  />

  <CallToAction
    actions={[
      { variant: 'primary', text: 'Get Started', href: `https://app.${import.meta.env.PUBLIC_ARCHODEX_DOMAIN}/signup` },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary/5 dark:bg-transparent"></div>
    </Fragment>

    <Fragment slot="title"> Solve Your DevSecOps Challenges Today </Fragment>
  </CallToAction>
</Layout>
