---
import type { ImageMetadata } from 'astro';

interface Props {
  src: ImageMetadata;
  srcDark: ImageMetadata;
  alt: string;
  caption?: string;
  markers?: { label: string; x: number; y: number; href?: string }[];
  scale?: number;
}

const { src, srcDark, alt, caption, markers, scale = 1 } = Astro.props as Props;
---

<div class="flex flex-col items-center my-6 relative">
  <div>
    <img
      src={src.src}
      alt={alt}
      class="h-fit m-0 drop-shadow-lg rounded-md dark:hidden"
      width={(src.width * scale) / 2}
      height={(src.height * scale) / 2}
    />
    <img
      src={srcDark.src}
      alt={alt}
      class="h-fit m-0 rounded-md border border-primary/25 hidden dark:block"
      width={(srcDark.width * scale) / 2}
      height={(srcDark.height * scale) / 2}
    />
    {
      markers &&
        markers.map((marker) => (
          <a
            href={marker.href}
            class="absolute -translate-1/2 hover:no-underline"
            style={{ left: `${marker.x}%`, top: `${marker.y}%` }}
          >
            <div class="bg-primary text-white dark:text-black rounded-full size-4 xl:size-6 m-0 flex items-center justify-center text-[8px] xl:text-xs font-bold drop-shadow-lg">
              {marker.label}
            </div>
          </a>
        ))
    }
  </div>
  {caption && <p class="text-center text-sm text-muted mt-2">{caption}</p>}
</div>
